<div class="container">
<div class='table-responsive'>
<table id="rooms" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th> Name </th>
      <th> Building </th>
      <th> Floor </th>
      <th> Location Notes </th>
      <th> Max People </th>
      <th> Outside Light </th>
      <th> Room Notes </th>
    </tr>
  </thead>
  <tbody>
    <% for room in @rooms do %>
    <tr>
      <td><%= room.name %></td>
      <td><%= room.building %></td>
      <td><%= room.floor %></td>
      <td><%= room.location_notes %></td>
      <td><%= room.max_people %></td>
      <td style="text-align:center"><% if room.windows %> <img src="http://www.free-icons-download.net/images/sun-icon-41809.png" class="img_fluid" style="max-width:30px; height:auto"><% else %>No <% end %> </td>
      <td><%= room.room_notes %></td>
    </tr>
    <% end %>
</table>
</div>
</div>
